<main>
  <p>You have created book successfully.</p>
        <p id="notice"></p>
 <div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @user.get_profile_image(100, 100) %>

  <table class="table">
  <tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</tbody>
</table>

<div class="row">
<%= link_to edit_user_path(@user.id),  class: 'btn btn-outline-secondary' do %>
<i class="fa fa-user-cog"></i>
<% end %>
</div>

<h2 class="mt-3">New book</h2>

  <%= form_with model: @book_new do|f| %>
  <div class="form-group">
    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <h4>Opinion</h4>
    <%= f.text_area :body %>
  </div>

  <div class="form-group">
    <%= f.submit 'Create Book', class: "btn btn-success"%>
  </div>

<% end %>
    </div>
    <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>

<table class="table">
<div>
  <%= image_tag @book.get_image %>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-success" %>
  <%= link_to 'Destroy', book_path(@book.id), method: :delete, class: "btn btn-smbtn-danger" %>

</div>
</table>
    </div>
  </div>
 </div>
</main>